.popup-panel {
    line-height: 1.5;
    position: relative;
    top: 0;
    right: 0;
    font-weight: 500;
    max-width: 320px;
    box-shadow: -3px -3px 2px 1px rgb(140 110 101 / 43%);
    border-radius: .3rem;
    padding: .5rem 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: block !important;
    width: min-content;
    bottom: auto;
    margin: 0;
    color: #f4f4f5;
    right: 0 !important;
    top: 64px !important;
    position: absolute;
    animation-name: fadeInUp;
    animation-fill-mode: both;
    animation-duration: .5s;
    list-style: none;
    text-align: left;
    background-clip: padding-box;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, .15);
    min-width: 10rem;
    z-index: 1000;
    will-change: transform;
    transform: translate3d(-177px, 40px, 0px);
    font-size: 10px;
    line-height: 2;
    color: #ff6f00;
    text-transform: uppercase;
    outline: none;
}
.shelter{
    background:  rgba(152,51,1,1);
}
.fire{
    background: rgba(12,68,117,1);
}
.popup-title{
    font-weight: 700;
    margin-bottom: .5rem;
    text-align: center!important;
    line-height: .5rem;
}
.popup-info{
    width: 265px;
    display: block;
    margin: 0;
    -webkit-transition: margin-top .2s ease;
    transition: margin-top .2s ease;
    border: none;
    font-size: .8rem;
    line-height: 20px;
    padding: 2px 8px;
    color: #c140009d;
    border-radius: 10px;
    line-height: .5;
}
.popup-list{
    display: block;
    max-height: 320px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border: 1px solid rgba(0, 0, 0, .15);
}
.popup-span{
    margin-right: 1rem;
    float: left;
}

h1{
    font-weight: 700;
    margin-bottom: .5rem;
    text-align: center!important;
    line-height: .5rem;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  table{
    width:100%;
    table-layout: auto;
    border-radius: 10px;
    box-shadow: -3px -3px 2px 1px rgb(140 110 101 / 43%);
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    overflow-x:auto;
    margin-top: 0px;
    max-height: fit-content;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 10px 10px;
    text-align: left;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 10px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }